/* DERMATOS ADMIN STYLES */

/* Fonts */

@import "https://fonts.googleapis.com/css?family=[[FONT-FAMILY-ESCAPED]]:[[FONT-WEIGHT-NORMAL]],[[FONT-WEIGHT-BOLD]],[[FONT-WEIGHT-EXTRA-BOLD]]|Roboto+Mono:300,400,700";

/* Basic */

html.wp-toolbar {
	padding-top: 0;
	background-color: #f8f8f8;
}

.wp-admin {
	min-width: 0;
}

p {
}

select,
textarea,
input[type=text],
input[type=password],
input[type=file],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=url] {
	padding: 5px !important;
	font: [[FONT-WEIGHT-BOLD]] 13px "[[FONT-FAMILY]]", monospace !important;
	border: 1px solid #d4d4d4 !important;
	box-shadow: none !important;
	box-sizing: border-box;
}

select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=file]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus {
	border: 1px solid #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
}

table td pre {
	white-space: pre-wrap;
}

pre, code, kbd {
	font-family: "Roboto Mono", monospace !important;
	font-size: 11px !important;
}

/* WP Adminbar */

#wpadminbar {
	height: 40px;
	position: absolute;
	background-color: #32373c;
	font: [[FONT-WEIGHT-NORMAL]] 13px/28px "[[FONT-FAMILY]]", monospace !important;
	border-bottom: 2px solid #666;
	min-width: 0;
}

#wpadminbar ul > li {
	background-color: #32373c !important;
}

#wpadminbar .quicklinks > ul#wp-admin-bar-root-default {
	margin: 5px 0 0 5px !important;
}

#wpadminbar .quicklinks > ul > li {
	border: none;
	border-radius: 0;
	margin-right: 2px;
	margin-left: 2px;
	float: left;
}

#wpadminbar .quicklinks a,
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .shortlink-input {
	padding: 0 10px;
}

#wpadminbar #wp-admin-bar-site-name,
#wpadminbar #wp-admin-bar-wp-logo,
#wpadminbar #wlcms_admin_logo {
	border: none;
	margin: 0 0;
}

#wp-admin-bar-my-account {
	border: none !important;
}

#wp-admin-bar-wp-logo {
	display: none;
}

#wp-admin-bar-wp-logo img {
	vertical-align: text-top !important;
	margin-top: 4px !important;
}

#wpadminbar #wp-admin-bar-site-name > a {
	font: [[FONT-WEIGHT-BOLD]] 16px "[[FONT-FAMILY]]", monospace;
	text-shadow: none;
	color: #a8a8a8;
	margin-left: 8px;
	padding-top: 4px;
}

#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
	top: -6px;
}

#wp-admin-bar-site-name.hover a,
#wp-admin-bar-site-name:hover a {
	color: #c8c8c8 !important;
	text-shadow: none !important;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
	color: #fafafa;
	border-radius: 0;
	background: none;
	background-color: #282c30;
}

#wpadminbar #wp-admin-bar-view-site {
	color: #fafafa;
}

#wpadminbar .quicklinks > ul > li > a,
#wpadminbar .quicklinks > ul > li > .ab-empty-item {
	border-right: none;
}

#wpadminbar .menupop {
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
	margin: 0 0 0 0;
}

#wpadminbar .ab-top-secondary {
	background: none;
	margin: 0 20px 0 0;
}

#wpadminbar .quicklinks .ab-top-secondary > li {
	border-top: 1px solid #666;
	border-bottom: 1px solid #222;
	border-right: 1px solid #222;
	border-left: 1px solid #666;
	float: right;
}

#wpadminbar .quicklinks .ab-top-secondary > li > a,
#wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
	border: none;
}

#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
}

#wp-admin-bar-my-sites-list .ab-item,
#wp-admin-bar-top-secondary .ab-item,
#wp-admin-bar-query-monitor .ab-item,
#wp-admin-bar-query-monitor .ab-label,
#wp-admin-bar-user-actions .ab-item {
}

#wp-admin-bar-my-sites-list .ab-item:hover,
#wp-admin-bar-top-secondary .ab-item:hover,
#wp-admin-bar-query-monitor .ab-item:hover,
#wp-admin-bar-user-actions .ab-item:hover {
}

#wpadminbar .ab-item .username {
	font-weight: [[FONT-WEIGHT-BOLD]] !important;
	text-transform: uppercase;
}

/* Main Elements */

h1,
h2,
h3,
h4 {
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
	text-transform: capitalize !important;
}

h1 {
	font-size: 30px !important;
}

h2 {
	font-size: 20px !important;
}

h3 {
	font-size: 15px !important;
}

h4 {
	font-size: 13px !important;
}

body,
th,
td,
td a,
label {
	font-size: 13px !important;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=file],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=url] {
	font-family: "[[FONT-FAMILY]]", monospace;
	font-size: 13px !important;
	font-weight: [[FONT-WEIGHT-BOLD]];
}

.wp-admin {
	font-family: "[[FONT-FAMILY]]", monospace !important;
	font-weight: [[FONT-WEIGHT-NORMAL]];
	line-height: 1.6em;
}

h2 .nav-tab,
.wrap h2,
.subtitle {
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-NORMAL]];
	margin: 15px 0 10px 0;
}

h2.nav-tab-wrapper a {
	margin: 15px 0 30px 0;
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

h2.hndle.ui-sortable-handle {
	font-size: 16px !important;
}

strong,
b {
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-BOLD]] !important;
}

#adminmenu a.wp-has-submenu,
#adminmenu a.wp-not-current-submenu,
#adminmenu .wp-submenu a,
#collapse-menu,
#titlewrap input,
#titlewrap label,
#message,
.updated,
.error,
.info,
.description,
.plugin-description p,
.plugin-version-author-uri,
.plugin-version-author-uri a,
.row-title,
.tagcloud a {
	font-size: 13px !important;
}

.row-title {
	font-weight: [[FONT-WEIGHT-BOLD]];
}

#message ul {
	list-style: disc !important;
}

#message ol {
	list-style: numeric !important;
}

#adminmenu a.menu-top,
#adminmenu .wp-submenu-head {
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

#wpadminbar * {
	font: [[FONT-WEIGHT-NORMAL]] 13px/28px "[[FONT-FAMILY]]", monospace;
}

a.rsswidget,
div.sidebar-name h2,
div.sidebar-name h3,
#dashboard-widgets h4,
#dashboard_plugins h5,
#dashboard_right_now td.b,
#menu-management .nav-tab,
#poststuff h3,
#your-profile legend,
.inline-edit-row fieldset span.checkbox-title,
.inline-edit-row fieldset span.title,
.metabox-holder h2,
.metabox-holder h3,
.pressthis a,
.quicktags,
.tablenav .displaying-num,
.tool-box .title,
table.widefat th,
.search {
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

#dashboard-widgets .activity-block h3 {
	padding-left: 10px;
}

#welcome-panel *,
td strong {
	font-size: 100% !important;
}

#titlediv #title-prompt-text {
	margin-top: -6px !important;
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-BOLD]];
}

#titlediv #title {
	line-height: 100%;
	height: 2.5em;
}

.wp-core-ui .welcome-panel .button.button-hero,
.upload-ui .button.button-hero {
	padding: 15px 30px !important;
	color: #fff !important;
	line-height: 1.0 !important;
	box-shadow: none !important;
	border: none !important;
}

.wp-core-ui .welcome-panel .button.button-hero:hover,
.upload-ui .button.button-hero:hover {
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
	line-height: 2.25 !important;
}

.wp-core-ui .welcome-panel h2 {
	font-size: 18px !important;

}

.manage-menus {
	clear: left;
}

.manage-menus form {
	background-color: #f8f8f8 !important;
}

.nav-menus-php #post-body {
	border: none !important;
	padding: 10px !important;
}

#plugin-filter {
	min-height: 940px;
}

#adv-settings {
	padding: 10px !important;
	background-color: #fff !important;
}

/* Links */

a,
#adminmenu a,
#the-comment-list p.comment-author strong a,
#media-upload a.del-link,
#media-items a.delete,
#media-items a.delete-permanently,
.plugins a.delete,
.ui-tabs-nav a {
	color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
}

table.widefat th a,
table.widefat th a:hover {
	color: #fff !important;
}

.postbox h3 span {
	color: #e8e8e8 !important;
}

/* Side Menu */

#adminmenuwrap,
#wpcontent {
	padding-top: 60px;
}

#adminmenushadow,
#adminmenuback {
	background-image: none;
}

#adminmenuback,
#adminmenuwrap {
	background-color: #282c30;
	border-color: #32373c;
}

#adminmenu a.menu-top,
#adminmenu .wp-submenu .wp-submenu-head {
	border-top-color: #666;
	border-bottom-color: #222;
}

#adminmenu,
#adminmenu ul {
	background-color: #282c30;
}
#adminmenu .separator {
	background-color: #666;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	text-shadow: none;
	color: #fff;
	border-top-color: gray;
	border-bottom-color: #6d6d6d;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top {
	background: none;
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
	border-top-color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
	border-bottom-color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	background-color: #32373c;
	color: #[[COLOUR-HIGHLIGHT-PRIMARY]] !important;
	text-shadow: none;
}

#adminmenu .wp-submenu .wp-submenu-head {
	background-color: #32373c;
	color: #fff;
	border-top-right-radius: 0;
}

#adminmenu .wp-submenu,
.folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
	background-color: #282c30;
	border-color: #b8b8b8;
	box-shadow: none;
	border-radius: 0;
}

#adminmenu .wp-submenu li,
#adminmenu .wp-submenu-wrap {
	background-color: #32373c !important;
}

#adminmenu .wp-submenu li a {
	padding-left: 20px !important;
}

#adminmenu .wp-not-current-submenu li {
}

#adminmenu .wp-submenu a:hover,
#adminmenu .wp-submenu a:focus {
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
	color: #fff;
}

#adminmenu .wp-menu-arrow {
	display: none !important;
}

#adminmenu li.wp-menu-open {
	border-color: #d4d4d4;
}

#adminmenu li.wp-menu-separator {
	background-color: #282c30;
	border-color: #000;
	height: 2px !important;
	margin: 0 !important;
}

#adminmenu div.separator {
	border-color: #32373c;
}

#collapse-menu {
	color: #999;
	border-top-color: #32373c;
}

#adminmenu a div.wp-menu-name {
	color: #fff;
}

#adminmenu a {
	padding: 8px 12px;
}

#adminmenu div.wp-menu-name {
	padding: 15px 20px 15px 44px;
}

div.wp-menu-image {
	position: relative;
	top: 8px;
	left: 10px;
}

.folded #adminmenuback,
.folded #adminmenuwrap,
.folded #adminmenu,
.folded #adminmenu li.menu-top {
	width: 50px;
}

.folded #adminmenu a.menu-top {
	height: 55px;
}

.folded #adminmenu .wp-submenu-head {
	height: 45px;
	line-height: 45px;
}

.folded #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu a.menu-top:focus + .wp-submenu,
.folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
	left: 51px;
}

.folded #wpcontent,
.folded #wpfooter {
	margin-left: 62px;
}

.awaiting-mod,
.update-plugins,
.processing_count {
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

/* Content */

#wpbody {
	margin-top: -20px !important;
}

#wpbody-content {
	padding-bottom: 80px !important;
}

.wrap {
	margin: 30px 20px 20px 0 !important;
}

.wrap > h1 {
	padding-bottom: 20px !important;
}

.wrap > h1 a {
}

table.widefat thead tr,
table.widefat tfoot tr {
	height: 40px !important;
}

table.widefat {
	border: none !important;
}

table.widefat thead tr th,
table.widefat tfoot tr th {
	border: none;
	text-shadow: none;
	padding: 15px 7px 15px;
	vertical-align: top !important;
}

table.widefat thead tr th,
table.widefat tfoot tr th,
h3.dashboard-widget-title,
h3.dashboard-widget-title span,
h3.dashboard-widget-title small {
	color: #fff;
}

table.widefat td {
	padding: 10px 7px 8px;
	vertical-align: top;
	font-size: 13px;
}

table.widefat thead .check-column,
table.widefat tfoot .check-column {
	padding: 15px 0 0 4px;
}

table.widefat tbody th.check-column {
	padding: 11px 0 20px;
}

table.widefat thead th.manage-column,
table.widefat tfoot th.manage-column {
}

table.widefat .manage-column.check-column {
	border-top: 1px solid #32373c;
	border-bottom: 1px solid #32373c;
	padding-top: 0 !important;
}

table.widefat.pages thead th.manage-column.column-author,
table.widefat.pages tfoot th.manage-column.column-author,
table.widefat.posts thead th.manage-column.column-author,
table.widefat.posts tfoot th.manage-column.column-author,
table.widefat.posts thead th.manage-column.column-categories,
table.widefat.posts tfoot th.manage-column.column-categories,
table.widefat.posts thead th.manage-column.column-tags,
table.widefat.posts tfoot th.manage-column.column-tags,
table.widefat.users thead th.manage-column.column-role,
table.widefat.users tfoot th.manage-column.column-role {
	padding-left: 5px !important;
}

table.widefat.plugins thead th.manage-column,
table.widefat.plugins tfoot th.manage-column {
	padding-left: 10px !important;
	border: none !important;
}

table.widefat thead th[scope=col],
table.widefat tfoot th[scope=col] {
	vertical-align: middle !important;
}

table.widefat td.check-column input[type=checkbox] {
	margin-left: 5px;
}

table.widefat.striped tbody tr:nth-child(odd) {
	background-color: #f8f8f8 !important;
}

.users-php table.widefat td.username img {
	width: 24px !important;
	height: 24px !important;
}

.sorting-indicator:before {
	color: #a8a8a8 !important;
}

.comment-grey-bubble:before {
	color: #a8a8a8 !important;
}

.postbox h3 {
	color: #fff !important;
}

#poststuff h2,
.metabox-holder h2 {
	padding: 15px 18px;
	line-height: 1;
	font-size: 16px;
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

.metabox-holder h2.hndle {
	margin-top: 0 !important;
}

#update-nag,
.update-nag {
	width: 95% !important;
}

#imgedit-panel-6680 * {
	font-family: "[[FONT-FAMILY]]", monospace !important;
}

p.search-box {
	margin-top: 10px;
}

.edit-tags-php p.search-box {
	margin-top: 0;
}

.row-actions a {
}

/* Widgets */

#widget-list .widget-top,
.widget,
.postbox,
.menu-item-settings {
	background: none;
	background-color: #fff;
	border-color: #d4d4d4;
	box-shadow: none;
}

.widget form {
	margin-top: 15px !important;
}

h3.dashboard-widget-title,
h3.dashboard-widget-title span,
h3.dashboard-widget-title small,
#nav-menu-header,
#nav-menu-footer,
.revisions-meta,
.widget .widget-top,
.postbox h2,
.postbox h3,
.stuffbox h2,
.stuffbox h3,
.sidebar-name,
.manage-column.check-column,
.menu-item-handle,
table.widefat thead tr th,
table.widefat tfoot tr th {
	background: none;
	background-color: #32373c;
}

#dashboard-widgets h2 .postbox-title-action,
#dashboard-widgets h3 .postbox-title-action {
	position: absolute;
	right: 10px;
	padding: 0;
	top: 10px;
}

#dashboard-widgets h2 .postbox-title-action a,
#dashboard-widgets h3 .postbox-title-action a {
	color: #fff;
}

.widget .widget-top,
.postbox h2,
.postbox h3,
.stuffbox h2,
.stuffbox h3 {
	margin-top: 0;
	border-bottom-color: #d4d4d4;
	text-shadow: none;
	box-shadow: none;
	color: #fff;
}

.in-widget-title {
	color: #b8b8b8;
}

.widget-top .widget-title {
	padding: 5px 5px;
	background-color: #32373c;
	border: none;
}

.widget-content input[type=text],
.widget-content select,
.widget-content textarea {
	margin-top: 5px !important;
}

.widget-control-actions {
	margin-top: 20px !important;
}

.widget-control-actions .alignleft {
	margin-top: 7px !important;
}

.widget-control-actions .alignright {
	height: 30px !important;
	max-width: 100px;
}

.widget-control-actions a {
	text-decoration: none;
}

.sidebar-description p.description {
	margin-top: 10px;
}

#customize-theme-controls .accordion-section-title {
	padding-left: 10px;
}

.accordion-section-title::after,
.accordion-section-title:hover::after,
.handlediv,
.handlediv:focus,
.handlediv:hover,
.item-edit,
.item-edit:focus,
.item-edit:hover,
.sidebar-name-arrow,
.sidebar-name:hover .sidebar-name-arrow,
.widget-action:focus,
.widget-top:hover .widget-action {
	color: #d4d4d4 !important;
}

/* Theme info */

.theme-info .theme-name {
	font-size: 28px !important;
}

.theme-info .theme-version {
	display: block !important;
	margin-left: 0 !important;
}

.button-primary.load-customize {
	border: none !important;
	box-shadow: none !important;
}

/* Misc */

.nav-tab:hover,
.nav-tab-active {
	border-color: #b8b8b8;
}

.nav-tab-wrapper {
	height: 44px !important;
}

.nav-tab-wrapper + p {
	clear: left;
}

.nav-tab {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	height: 24px !important;
}

.nav-tab-active {
	font-size: 14px !important;
}

.tablenav {
	padding: 10px 0 !important;
}

#template {
	padding-top: 20px !important;
}

#templateside h2 {
	padding-top: 40px !important;
	padding-bottom: 20px !important;
}

#templateside ul {
	margin-left: -15px !important;
}

#templateside li {
	padding-left: 15px !important;
}

#templateside li a {
	padding: 0 !important;
}

#templateside .highlight {
}

/* Widgets-page */

#widgets-left .sidebar-name,
#widgets-right .sidebar-name {
	color: #282c30;
	text-shadow: none;
	border-color: #d4d4d4;
	box-shadow: none;
	padding-left: 5px !important;
}

#available-widgets .sidebar-name {
	padding-left: 10px !important;
}

#widgets-right .sidebar-name {
	margin: 0 -8px 0 -8px !important;
}

#widgets-right .widgets-sortables {
	margin-top: -15px;
	margin-bottom: 10px !important;
}

#widgets-left .sidebar-name h2,
#widgets-right .sidebar-name h2 {
	padding: 15px;
	color: #fff !important;
	text-shadow: none;
	font-size: 14px !important;
}

.widgets-holder-wrap .widget-inside {
	padding: 0 1px !important;
	border: none !important;
}

.widgets-chooser-actions button {
	margin: 0 2px !important;
}

.widgets-chooser .widgets-chooser-actions {
	text-align: right;
}

.widget.open {
	margin-left: 0 !important;
}

.widget-inside form p.description {
	padding: 0 0 10px 0 !important;
}

.widget-title-action {
	margin-top: 7px !important;
	margin-right: 7px !important;
}

.widget-inside .widget-content div {
	display: block !important;
	float: none !important;
	width: auto !important;
}

.widget-title-action a {
	font-size: 10px;
}

.widget-title h3 {
	padding-left: 10px !important;
	color: #e8e8e8 !important;
	font-size: 13px !important;
}

.widget-title h3 span {
}

/* Post Content */

#post-body-content {
	padding: 2%;
	width: 96%;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	float: left;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#publish.button-primary {
	margin-top: -15px !important;
	width: 90% !important;
}

#delete-action {
	margin-top: 10px !important;
}

.misc-pub-section {
	border: none;
	padding: 10px 15px 12px 15px;
}

.misc-pub-section label,
.misc-pub-post-status label {
	margin-right: 5px;
	text-align: left;
}

.misc-pub-section #post-status-display,
.misc-pub-section #post-visibility-display,
.misc-pub-section #timestamp {
	text-transform: capitalize;
}

.misc-pub-section a {
	margin-left: 5px;
}

#poststuff .inside {
	margin: 12px 0 12px;
}

.postbox .inside,
.stuffbox .inside {
	padding: 10px;
}

.tagsdiv .newtag {
	width: 176px;
}

#screen-meta-links a {
	color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
}

#screen-meta-links .show-settings {
	line-height: 1.75 !important;
}

#screen-meta {
	background-color: #fff;
}

#screen-options-link-wrap,
#contextual-help-link-wrap {
	background: #fff;
	box-shadow: none !important;
}

/* Menu Page */

.menu-item-handle {
	color: #fff;
	text-shadow: none;
}

#menu-management .nav-tab-active,
.menu-item-handle,
.menu-item-settings {
	box-shadow: none;
}

.menu-item-handle .item-title {
	font-weight: 400 !important;
}

#nav-menu-header {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 15px;
}

#nav-menu-footer {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 15px;
}

#update-nav-menu {
	background-color: #fff;
}

#post-body-content {
	padding: 2%;
	width: 100%;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	margin-bottom: 20px;
	float: left;
}

.control-section .accordion-section-title {
	padding: 10px 20px;
	color: #fff;
	background-color: #32373c;
	border: none;
	font-size: 14px;
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-NORMAL]];
	text-shadow: none;
}

.js .control-section:hover .accordion-section-title,
.js .control-section .accordion-section-title:hover {
	background-color: #32373c;
	color: #fff;
	border: none;
}

.js .control-section.open .accordion-section-title,
.js .control-section .accordion-section-title:focus {
	background-color: #32373c;
	color: #fff;
	border: none;
}

.js .postbox {
	margin-bottom: 20px !important;
}

.js .postbox .handlediv {
}

.js .postbox .handlediv.button-link {
	margin-bottom: -40px !important;
	color: #808080 !important;
}

.accordion-section {
}

#wpbody .open-label span {
	color: #fff;
}

a.menu-delete {
	color: #fff !important;
}

/* Forms & Buttons */

form {
	padding: 10px 20px !important;
	background-color: #f0f0f0 !important;
}

form h2, form h3 {
	clear: both !important;
	margin-bottom: 0 !important;
	margin-top: 20px !important;
	padding-bottom: 8px;
	border-bottom: 1px dotted #d4d4d4;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

form h3 {
	padding-bottom: 4px;
}

form .submit {
	padding-top: 20px !important;
	margin-bottom: 30px !important;
	border-top: 1px solid #d4d4d4 !important;
	text-align: right !important;
}

form .submit .button.button-primary {
	float: right !important;
}

legend {
	font-size: 15px !important;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

.form-table th {
	width: 25% !important;
	padding: 15px 10px 15px 0 !important;
}

#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:hover,
#dashboard_right_now .versions .b,
#ed_reply_toolbar #ed_reply_strong,
#pass-strength-result.short,
#pass-strength-result.strong,
#post-status-display,
#post-visibility-display,
.edit-comment-author,
.feature-filter .feature-name,
.item-controls .item-order a,
.media-item .percent,
.nav-tab,
.plugins .name {
	font-weight: 400 !important;
}

form .form-table th,
#custom-background .form-table th {
	font: [[FONT-WEIGHT-BOLD]] 13px/20px "[[FONT-FAMILY]]", monospace !important;
	text-align: right !important;
}

form .form-table th.th-full,
#custom-background .form-table th.th-full {
	text-align: left !important;
}

form .form-table th.th-full label,
#custom-background .form-table th.th-full label {
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

form .form-table td,
#custom-background .form-table td {
	font-size: 13px !important;
	font-style: normal !important;
}

form .form-table td p.description,
#custom-background .form-table td p.description {
	font-style: italic !important;
}

form .form-table td br,
#custom-background .form-table td br {
	margin: 12px 0 !important;
}

form .form-table td label,
#custom-background .form-table td label {
	font-size: 13px !important;
}

form .form-table td textarea,
#custom-background .form-table td textarea {
}

form .form-table th[scope=row] + td,
#custom-background .form-table th[scope=row] + td {
	padding-top: 13px !important;
}

form .form-table th[scope=row] label,
#custom-background .form-table th[scope=row] label {
	padding-top: 4px !important;
	white-space: nowrap;
}

.term-php form .form-table th[scope="row"] label {
	padding-top: 0 !important;
}

.options-general-php .form-table td fieldset {
	margin-top: -8px !important;
}

.options-general-php .form-table tr:nth-of-type(6) td fieldset {
	margin-top: 0 !important;
}

.options-general-php .form-table th[scope=row] {
	padding-top: 15px !important;
}

.options-general-php .form-table tr:nth-of-type(1) th[scope=row],
.options-general-php .form-table tr:nth-of-type(2) th[scope=row] {
	padding-top: 18px !important;
}

.options-general-php .form-table th[scope=row] {
}

.options-general-php .form-table tr:nth-of-type(7) th[scope=row],
.options-general-php .form-table tr:nth-of-type(8) th[scope=row],
.options-general-php .form-table tr:nth-of-type(11) th[scope=row],
.options-general-php .form-table tr:nth-of-type(12) th[scope=row] {
	padding-top: 20px !important;
}

.options-writing-php .form-table th[scope=row] {
	padding-top: 20px !important;
}

.options-writing-php .form-table:nth-of-type(2) td label {
	margin-top: 0 !important;
}

.options-reading-php .form-table th[scope=row] {
	padding-top: 15px !important;
}

.options-reading-php .form-table tr:nth-of-type(1) th[scope=row],
.options-reading-php .form-table tr:nth-of-type(5) th[scope=row] {
	padding-top: 16px !important;
}

.options-reading-php .form-table label {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.options-reading-php .form-table fieldset {
	padding-top: 0 !important;
	margin-top: -10px !important;
}

.options-reading-php .form-table #front-static-pages fieldset {
	padding-top: 10px !important;
}

.options-reading-php .form-table .option-site-visibility fieldset {
	padding-top: 15px !important;
}

.options-discussion-php .form-table th[scope=row] {
	padding-top: 18px !important;
}

.options-discussion-php .form-table:nth-of-type(1) tr:nth-of-type(6) th[scope=row] {
	padding-top: 12px !important;
}

.options-discussion-php table.form-table:nth-of-type(2) {
}

.options-discussion-php table.form-table:nth-of-type(2) tr:nth-of-type(1) th {
	padding-top: 7px !important;
}

.options-discussion-php table.form-table:nth-of-type(2) tr:nth-of-type(3) fieldset {
	margin-top: -5px !important;
}

.options-discussion-php table.form-table:nth-of-type(2) tr:nth-of-type(4) label,
.options-discussion-php table.form-table:nth-of-type(2) tr:nth-of-type(5) label {
	display: inline-block !important;
	padding-top: 10px !important;
}

.options-discussion-php .form-table label {
	padding-top: 0 !important;
	margin-top: -5px !important;
}

.options-media-php .form-table th[scope=row] {
	padding-top: 18px !important;
}

.options-media-php .form-table tr:first-child th[scope=row] {
	padding-top: 22px !important;
}

.options-media-php .form-table:nth-of-type(1) th {
	padding-top: 18px !important;
}

.options-media-php .form-table:nth-of-type(2) th[scope=row] {
	padding-top: 20px !important;
}

.options-media-php .form-table:nth-of-type(2) th[scope=row] + td {
	padding-top: 10px !important;
}

.options-media-php .form-table:nth-of-type(1) th[scope=row] + td #thumbnail_crop + label {
	margin-top: 2px !important;
}

.options-media-php .form-table label {
	padding-top: 0 !important;
}

.options-permalink-php .form-table label {
	padding-top: 7px !important;
}

.options-permalink-php .form-table td code {
	display: inline-block !important;
	margin-top: 5px !important;
}

.import-php table.widefat {
	border: 1px solid #d4d4d4 !important;
}

.user-edit-php .form-table th label,
.profile-php .form-table th label {
	padding-top: 5px !important;
}

.user-edit-php .form-table td fieldset,
.profile-php .form-table td fieldset {
	margin-top: -7px !important;
}

.user-edit-php .form-table td button#destroy-sessions {
	margin-top: -10px !important;
}

.user-edit-php .form-table td ul {
	margin-top: 5px !important;
}

.user-new-php .form-table td label {
	padding-top: 10px;
}

.wrap.custom form .submit {
	margin-bottom: 0 !important;
}

#custom-background .form-table th[scope=row] + td textarea,
#custom-background .form-table th[scope=row] select,
#custom-background .form-table th[scope=row] + td input[type=text],
.form-table th[scope=row] + td select,
.form-table th[scope=row] + td input[type=text],
form .form-table th[scope=row] + td textarea {
	margin-top: 6px !important;
}

form .form-table th[scope=row] + td .button-secondary,
#custom-background .form-table th[scope=row] + td .button-secondary {
	margin-top: 10px !important;
	padding: 5px !important;
	text-transform: capitalize !important;
	text-align: center !important;
	min-width: 100px !important;
	line-height: 1 !important;
}

form .form-table td label {
	display: inline-block;
	margin-top: -8px;
}

form .form-table tr.user-rich-editing-wrap td label,
form .form-table tr.user-comment-shortcuts-wrap td label,
form .form-table tr.show-admin-bar td label {
	margin-top: 0;
}

form.validate {
}

.edit-tags-php form.validate {
	padding: 0 !important;
}

#pass-strength-result {
	width: 300px;
}

form[action*="plugins.php"] {
	background-color: #f8f8f8 !important;
}

ul.subsubsub {
	padding-top: 10px !important;
	padding-left: 20px !important;
}

.inactive .plugin-title strong {
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

#your-profile #rich_editing,
.checkbox,
.side-info,
.plugins tr {
	background-color: #fff;
}

#screen-meta-links a.show-settings {
	padding: 0;
}

.wp-core-ui .button,
.wp-core-ui .notification-dialog .button,
.button-highlighted {
	color: #fff;
	text-decoration: none;
	background: none;
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
	border: none;
	border-color: none !important;
	border-radius: 0;
	box-shadow: none !important;
	text-shadow: none;
	line-height: 2.0 !important;
	font-weight: [[FONT-WEIGHT-BOLD]] !important;

}

.wp-core-ui .button-primary,
.button-highlighted {
	background-color: #[[COLOUR-HIGHLIGHT-PRIMARY]];
	color: #fff !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none;
}

.wp-core-ui .button-primary:hover,
.button-highlighted:hover {
	background-color: #[[COLOUR-HIGHLIGHT-PRIMARY]] !important;
}

.wp-core-ui .button-secondary {
	color: #fff !important;
	text-decoration: none;
	background: none;
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	line-height: 2.0 !important;
}

.wp-core-ui .button-secondary:hover {
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
	color: #fff !important;
}

.button-primary {
	min-width: 100px !important;
}

.wp-core-ui .button:disabled,
.wp-core-ui .button[disabled] {
	background-color: #f8f8f8 !important;
	color: #808080 !important;
}

.destroy-sessions .button,
.wp-generate-pw {
	min-width: 200px !important;
}

.wp-core-ui p .button,
.wp-core-ui p .button:hover {
	vertical-align: middle;
	line-height: 2.0 !important;
}

.upgrade a.button {
	line-height: 1.5 !important;
}

.button.customize,
.button.customize:hover {
	line-height: 1.5 !important;
}

.button.activate,
.button.activate:hover {
	line-height: 1.75 !important;
}

.button.load-customize,
.button.load-customize:hover {
	line-height: 1.75 !important;
}

.button.button-small,
.button.button-small:hover,
.edit-slug.button-small.hide-if-no-js,
.edit-slug.button-small.hide-if-no-js:hover {
	line-height: 1.5 !important;
}

#add-new-comment .button,
#add-new-comment .button:hover,
#genesis-category-checklist-toggle.button,
#genesis-category-checklist-toggle.button:hover,
.save.button-primary,
.save.button-primary:hover,
.cancel.button-secondary,
.cancel.button-secondary:hover {
	line-height: 2.0 !important;
}

#upgrade.button,
#upgrade.button:hover,
#post-preview,
#post-preview:hover,
.upgrade .button,
.upgrade .button:hover,
.preview.button,
.preview.button:hover {
	line-height: 1.33 !important;
}

.wp-core-ui .button:hover {
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
	color: #fff !important;
}

.search-form {
	padding-right: 10px !important;
	background-color: #f8f8f8 !important;
	min-height: 20px;
}

.search-form input[type=search] {
	min-width: 100px !important;
	max-width: 200px !important;
}

.search-form.search-plugins {
	background-color: #fff !important;
}

.tools a.button,
.tools a.button:hover {
	line-height: 2.0 !important;
}

p.description, span.description {
	display: block;
	margin-top: 4px;
	margin-bottom: 8px;
	color: #808080;
}

p.description a, span.description a {
	color: #808080;
}

textarea + br + span.description {
	margin-top: 0 !important;
	margin-bottom: 20px !important;
}

label span.description {
	display: inline;
	margin: 0;
}

.wp-core-ui .button-primary {
	background-color: #[[COLOUR-HIGHLIGHT-PRIMARY]];
}

.wp-core-ui .button-primary:hover {
	background-color: #[[COLOUR-HIGHLIGHT-PRIMARY]];
}

.button-highlighted,
.button-highlighted:hover {
	line-height: 1.5 !important;
}

.theme-actions a.button {
	padding: 2px 18px !important;
}

.update-core-php form.upgrade {
	margin-bottom: 30px !important;
	padding: 0 !important;
	background-color: #f8f8f8 !important;
}

.update-core-php .button,
.upload-php .media-button,
.post-php .media-button,
.install-now {
	padding: 0px 10px !important;
	display: inline-block !important;
	color: #fff !important;
}

.upload-php .thumbnail .filename {
	font: [[FONT-WEIGHT-NORMAL]] 13px "[[FONT-FAMILY]]", monospace !important;
}

.update-core-php form.upgrade a.button {
	padding: 4px 10px !important;
	line-height: 1.5 !important;
}

.update-core-php table.widefat thead td input[type="checkbox"],
.update-core-php table.widefat tfoot td input[type="checkbox"] {
	margin-top: -4px !important;
}

#update-plugins-table,
#update-themes-table {
	margin-top: 20px !important;
}

#update-themes-table .manage-column,
#update-plugins-table .manage-column {
	background-color: #32373c !important;
	border-top: 1px solid #32373c !important;
	border-bottom: 1px solid #32373c !important;
	color: #f0f0f0 !important;
}

.theme-check .button {
	margin: 0 10px 0 5px !important;
}

.imgedit-submit-btn {
	margin-left: 5px !important;
}

#install-plugin-submit {
	margin-top: 5px !important;
}

#sample-permalink {
	margin-right: 5px !important;
}

.button-small {
	display: inline-block !important;
	margin-right: 5px !important;
}

#wp-content-editor-tools {
	padding-top: 5px !important;
}

#wp-content-media-buttons {
	padding-left: 5px !important;
	padding-top: 0 !important;
}

a#choose-from-library-link {
	padding: 4px 10px !important;
}

#custom-background {
	background-color: #f0f0f0 !important;
}

#custom-background .form-table tr {
	padding-left: 20px !important;
}

#custom-background .form-table td fieldset {
	margin-top: 8px !important;
}

#custom-background .form-table td #upload-form {
	margin: 0 !important;
	padding: 0 !important;
}

#custom-background .form-table td #upload-form p:first-child {
	margin-top: -4px !important;
}

#custom-background .form-table:nth-child(1) {
	margin-left: -20px !important;
}

#custom-background .form-table:nth-child(1) th[scope=row] {
	padding-right: 0 !important;
}

#custom-background .form-table:nth-child(1) td .wp-picker-container {
	margin-left: 10px !important;
}

#custom-background h2 {
	background-color: #f8f8f8 !important;
	padding-bottom: 20px !important;
}

#custom-background h3 {
	margin: 20px 20px 0 20px !important;
	padding-bottom: 4px;
	border-bottom: 1px dotted #d4d4d4;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

.media-upload-form {
	margin-top: 0 !important;
	padding-top: 20px !important;
}

.media-upload-form .media-items {
}

.media-upload-form .media-item {
	padding: 10px 1% !important;
	width: 98% !important;
}

.media-frame-title h1 {
	padding-bottom: 20px;
	font-family: "[[FONT-FAMILY]]", monospace;
	font-size: 24px !important;
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

.media-frame-router {
}

.media-frame select.attachment-filters {
}

.media-toolbar select,
.media-toolbar button {
	font-family: "[[FONT-FAMILY]]", monospace !important;
}

.upload-ui .button {
	font-family: "[[FONT-FAMILY]]", monospace !important;
}

.media-toolbar select#media-attachment-filters {
	height: auto !important;
	padding: 4px !important;
}

.edit-attachment {
	padding: 2px 10px !important;
}

.wp-filter .search-form {
	background: #fff !important;
}

#posts-filter + form {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.edit-attachment-frame .attachment-info .details,
.edit-attachment-frame .attachment-info .settings,
.edit-attachment-frame .attachment-info .actions,
.edit-attachment-frame .attachment-actions .button {
	font: [[FONT-WEIGHT-BOLD]] 13px "[[FONT-FAMILY]]", monospace !important;
	line-height: 1.75 !important;
}

.edit-attachment-frame .attachment-info strong {
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

.attachment-details .setting span,
.compat-item label span,
.media-sidebar .setting span {
	font: [[FONT-WEIGHT-BOLD]] 13px "[[FONT-FAMILY]]", monospace !important;
}

.imgedit-group,
.imgedit-submit .button {
	font-family: "[[FONT-FAMILY]]", monospace !important;
}

.post-type-attachment #publishing-action {
    width: 40%;
    margin-top: -12px !important;
}

table.media .column-title .has-media-icon ~ .row-actions {
	clear: both !important;
	margin-top: 15px !important;
	margin-left: 0 !important;
}

table.media .column-title .filename {
	display: none !important;
}

/* Specific Page Styles */

.appearance_page_custom-header .wrap {
	background-color: #f0f0f0 !important;
}

.appearance_page_custom-header .wrap .form-table tr {
	padding-left: 20px !important;
}

.appearance_page_custom-header .wrap .form-table th[scope=row] {
	text-align: right !important;
}

.appearance_page_custom-header .wrap .form-table td #upload-form {
	margin: 0 !important;
	padding: 0 !important;
}

.appearance_page_custom-header .wrap h2 {
	background-color: #f8f8f8 !important;
	padding-bottom: 20px !important;
}

.appearance_page_custom-header .wrap h3 {
	margin: 20px 20px 0 20px !important;
	padding-bottom: 4px;
	border-bottom: 1px dotted #d4d4d4;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

.wrap .add-new-h2,
.page-title-action {
	line-height: 1.4 !important;
	display: inline-block;
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
	color: #fff !important;
	padding: 4px 8px !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: none !important;
	font-weight: [[FONT-WEIGHT-BOLD]] !important;
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .add-new-h2:hover,
.wrap .page-title-action,
.wrap .page-title-action:active,
.page-title-action:hover {
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
	border-radius: 0 !important;
}

#dashboard_quick_press .wp-media-buttons a {
	color: #fff;
}

a#post-preview,
a#insert-media-button {
	padding: 5px 10px !important;
}

.button.insert-media.add_media,
.button.insert-media.add_media:hover {
	line-height: 1.25 !important;
}

a.button-small {
	padding: 3px 5px !important;
}

form#quick-press .submit {
	margin: 0 !important;
	border-top: none !important;
}

.plugin-editor-php .alignright form,
.widgets-php .widget-liquid-right + form {
	background-color: #f8f8f8 !important;
}

.widgets-php .sidebar-name h3 {
	padding-left: 5px !important;
}

#wpmu-install-dashboard,
.wpmudev-message.wpdv-connect {
	display: none;
}

h2 a.nav-tab {
	font-size: 13px;
}

#TB_ajaxWindowTitle {
	font-size: 18px !important;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

#gallery-settings .title, h3.media-title, h4.media-sub-title {
	font-family: inherit;
	padding-bottom: 10px;
}

/* Multisite Support */

#wp-admin-bar-my-sites-list {
	min-width: 300px !important;
	background-color: #282c30 !important;
}

#wp-admin-bar-my-sites-list .menupop .ab-submenu {
	background-color: #282c30 !important;
}

/* Admin Menu Editor Support */

#ws_ame_editor_heading {
	float: none !important;
	padding-bottom: 0 !important;
}

#ws_menu_editor .ws_main_button {
	margin: 0 auto 10px auto;
	width: 150px;
	text-transform: capitalize;
}
#ws_editor_sidebar {
	background-color: #f0f0f0;
}

#ws_sidebar_pro_ad,
#ws-pro-version-notice {
	display: none !important;
}

/* Advanced Custom Fields Support */

#acf-col-side,
#acf-col-right {
	width: 250px !important;
}

table.widefat.acf td.field_label,
table.widefat.acf td.field_name,
table.widefat.acf td.field_type {
	text-align: left !important;
	max-width: 100px !important;
}

table.widefat.acf th.field_order,
table.widefat.acf td.field_order {
	width: 13% !important;
}

.post-type-acf #publishing-action {
	margin-top: 10px !important;
}

.acf_postbox p.label {
	font-style: italic;
}

.acf_postbox p.label label {
	font-style: normal;
}

.acf-input-table span.sub-field-instructions {
	color: #c8c8c8;
	font-family: "[[FONT-FAMILY]]", monospace;
	font-size: 13px;
	font-style: italic;
	text-shadow: none;
}

table.acf_input tbody tr td.label label {
	padding-top: 6px !important;
	text-align: right !important;
}

.acf-field select.location-rule-operator {
	width: auto !important;
}

.acf-field-object.open > .handle {
	background-color: #32373c !important;
	border: none !important;
	text-shadow: none !important;
}

.acf-input .edit-field {
	line-height: 2.25 !important;
}

.acf-url input[type=url] {
	padding-left: 25px !important;
}

.acf-postbox > .hndle .acf-hndle-cog {
	color: #a8a8a8 !important;
}

.acf-hl {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.acf-hl .acf-button {
	text-align: center !important;
}

#acf-field-group-wrap .subsubsub {
	margin-bottom: 0 !important;
	width: 98% !important;
	background-color: #f0f0f0 !important;
}

.acf-columns-2 {
	margin-right: 0 !important;
	width: 96.1% !important;
}

.acf-columns-2 table.widefat {
	margin-top: 10px !important;
}

.acf-columns-2 .acf-column-2 {
	display: none !important;
}

/* Custom Permalinks Support */

#edit-slug-box {
	padding: 0 0 10px !important;
}

/* Display Widgets Support */

.dw-toggle {
}

.dw_collapse {
}

.dw_collapse p,
.dw_collapse li {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

/* Formidable Forms Support */

.frm_pro_installed .button-secondary,
.frm_pro_installed .button-secondary:hover {
	line-height: 2.0 !important;
}

.frm_pro_installed div:first-child strong {
	display: inline-block;
	margin-top: 5px;
}

#frm_insert_shortcode,
#frm_insert_shortcode:hover,
.button.frm-dropdown-toggle,
.button.frm-dropdown-toggle:hover,
.button.add_media.frm_insert_form,
.button.add_media.frm_insert_form:hover {
	line-height: 2.25 !important;
}

.frm_ipe_field_label.frm_primary_label.button {
	line-height: 2.25 !important;
	color: #c8c8c8 !important;
}

.frm_ipe_field_label.frm_primary_label.button:hover {
	line-height: 2.25 !important;
}

.frmbutton {
	padding: 4px !important;
}

.frmbutton .frm_add_field,
.frm-dropdown-toggle {
	color: #fff !important;
}

.frm_ipe_field_key .inplace_field {
	width: 22em !important;
	margin-left: -20px !important;
	margin-right: 5px !important;
}

.frm_logic_rows h2,
.frm_logic_rows h3,
.metabox-holder h2,
.metabox-holder h3 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.alignleft.actions a.button,
.alignleft.actions a.button:hover,
a.frm_show_comment,
a.frm_show_comment:hover {
	line-height: 2.0 !important;
}

.frm_show_comment {
	padding-top: 4px !important;
}

.toplevel_page_formidable #publishing-action {
	margin-top: 10px;
}

#frm_uninstall_now {
	display: none;
}

/* Genesis Support */

.genesis-metaboxes .top-buttons {
	float: left;
}

/* Genesis Responsive Slider Support */

#genesis-responsive-slider-content-type {
	padding-top: 20px !important;
}

/* Genesis Simple Share Support */

.genesis_page_genesis_simple_share_settings .genesis-metaboxes .top-buttons {
	float: right;
	margin-bottom: 40px;
}

/* Members Support */

.users_page_roles table.widefat.members-roles-select td.column-cap,
.users_page_role-new table.widefat.members-roles-select td.column-cap {
	font-size: 11px !important;
	text-transform: uppercase;
}

.users_page_roles table.widefat.members-roles-select td.column-cap strong,
.users_page_role-new table.widefat.members-roles-select td.column-cap strong {
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

.users_page_roles ul.subsubsub,
.users_page_role-new ul.subsubsub {
	padding-left: 0 !important;
}

.users_page_roles form,
.users_page_role-new form {
	padding: 0 !important;
	background-color: #f8f8f8 !important;
	margin-top: -10px !important;
}

.users_page_roles form#roles,
.users_page_role-new form#roles {
	padding: 0 20px 10px !important;
	background-color: #f0f0f0 !important;
	margin-top: -10px !important;
}

.users_page_roles #titlewrap input[type=text],
.users_page_role-new #titlewrap input[type=text] {
	height: 28px !important;
}

.users_page_roles #publish.button-primary,
.users_page_role-new #publish.button-primary {
	margin-top: 10px !important;
}

.users_page_roles input[type=text],
.users_page_role-new input[type=text],
.post-php #members_access_error,
.post-new-php #members_access_error {
	border: 1px solid #d4d4d4 !important;
}

.users_page_roles input[type=text]:focus,
.users_page_role-new input[type=text]:focus,
.post-php #members_access_error:focus,
.post-new-php #members_access_error:focus {
	border: 1px solid #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
}

.users_page_roles .button-secondary,
.users_page_role-new .button-secondary,
.users_page_roles #members-add-new-cap,
.users_page_role-new #members-add-new-cap {
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
	color: #fff !important;
	text-shadow: none !important;
}

.settings_page_members-settings form .form-table th[scope="row"] {
	padding-top: 10px !important;	
}

.settings_page_members-settings form .form-table th[scope="row"] + td {
	padding-top: 15px !important;
}

/* Nextgen Gallery Support */

#ngg_page_content select,
#ngg_page_content input[type="number"],
#ngg_page_content input[type="text"],
.gallery_page_ngg_display_settings select,
.gallery_page_ngg_display_settings input[type="number"],
.gallery_page_ngg_display_settings input[type="text"] {
	height: 30px !important;
	text-align: left !important;
}

.widget-top h3 {
	color: #fff !important;
}

/* Ninja Forms Support */

/* Too many changes needed, wait for them to fix things in v3 */

/* P3 Plugin Profiler Support */

#p3-email-results {
	height: 32px !important;
}

#p3-email-results a {
	color: white;
	text-decoration: none;
}

/* Paid Memberships Pro Support */

.pmpro_admin #posts-filter {
	background-color: #f8f8f8 !important;
}

.pmpro_admin a.pmpro_tag-blue,
.pmpro_admin span.pmpro_tag-grey {
	border-radius: 0 !important;
}

.pmpro_admin h3.topborder {
	border-top: none !important;
}

.pmpro_admin small {
	font-size: 100% !important;
}

.pmpro_admin p.submit input.button-primary,
.pmpro_admin p.submit input.button-primary:hover {
	line-height: 1.25 !important;
}

.pmpro_admin p.submit input.button-secondary {
	padding: 5px;
	line-height: 1.25 !important;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	box-sizing: border-box;
	text-decoration: none;
	min-width: 80px;
}

.pmpro_admin p.submit input.button-secondary:hover {
	line-height: 1.25 !important;
}

.pmpro_admin input #email_member_notification {
	margin-top: 8px !important;
}

.pmpro_admin table.widefat td a.edit,
.pmpro_admin table.widefat td a.delete {
	font-size: 13px !important;
}

/* Revolution Slider Support */

.postbox.unite-postbox h3 span {
	color: #222 !important;
}

/* Simple Local Avatars Support */

#simple-local-avatar-photo {
	vertical-align: top !important;
}

#simple-local-avatar-photo img {
	padding-top: 5px;
}

#simple-local-avatar.standard-text {
	display: block;
	margin-top: -40px !important;
}

#simple-local-avatar-media.button,
#simple-local-avatar-remove.button {
	display: inline-block;
	margin-top: -30px;
	line-height: 2.25 !important;
}

#simple-local-avatar-remove.button {
}

.button.hide-if-no-js,
.button.hide-if-no-js:hover,
.button.item-delete,.button.item-delete:hover {
	line-height: 1.25 !important;
}

.edit-tags-php form {
	padding-bottom: 5px !important;
}

.edit-tags-php form .submit .button.button-primary {
	float: left !important;
}

.edit-tags-php .search-form {
	margin-top: -20px !important;
	margin-bottom: 10px !important;
	padding-right: 0 !important
}

.edit-tags-php #col-container {
	background-color: #f0f0f0;
	padding: 0 15px !important;
}

.edit-tags-php #col-left {
	width: 33% !important;
}

.edit-tags-php #col-right {
	width: 67% !important;
}

.edit-tags-php #col-left form {
	padding-right: 0 !important;
}

.edit-tags-php .col-wrap h2 {
	margin-left: 5px !important;
	margin-top: 25px !important;
}

.edit-tags-php .col-wrap .submit {
	text-align: left !important;
}

.edit-tags-php .col-wrap .tagcloud {
	width: 95% !important;
}

.edit-tags-php .col-wrap .tagcloud h2 {
	margin-left: 0 !important;
}

.edit-tags-php table.widefat .column-cb {
	width: 3%;
}

.edit-tags-php table.widefat .column-name {
	width: 22%;
}

.edit-tags-php table.widefat .column-description {
	width: 45%;
}

.edit-tags-php table.widefat .column-slug {
	width: 20%;
}

.edit-tags-php table.widefat .column-posts {
	width: 10%;
}

.edit-tags-php form textarea {
	min-height: 200px;
}

.term-php form,
.edit-php form {
	padding-bottom: 5px !important;
}

.term-php form textarea {
	height: 200px;
}

.plugins-php form {
	padding-bottom: 10px !important;
}

/* Simple Social Icons Support */

.widgets-php .iris-picker.iris-mozilla.iris-border {
	display: none !important;
}

.widgets-php .wp-picker-default {
	margin-top: -5px !important;
}

.widgets-php .wp-color-result {
	margin-top: 15px !important;
}

/* Sucuri Support */

.sucuriscan-ad,
.ytp-title {
	display: none !important;
}

/* Widget Context Plugin Support */

.widget-context-form p.submit {
	border: none !important;
}

.widget-context .widget-context-header h3 {
	margin: 0 0.5em 1.5em 0;
	padding: 0 0 0.5em 0;
}

.widget-context .context-toggle {
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

.widget-context .widget-context-header h3 {
	padding-bottom: 10px !important;
	font-size: 14px !important;
}

.context-group-incexc select {
	border-width: 1px;
}

/* Woocommerce Support */

.woo-nav-tab-wrapper {
	clear: right;
}

.wrap.woocommerce div.error,
.wrap.woocommerce div.updated {
	clear: left;
}

.woocommerce ul.subsubsub {
	clear: left;
	padding-top: 0 !important;
	padding-left: 0 !important;
}

.woocommerce .form-table fieldset {
	margin-top: 6px !important;
}

.woocommerce .form-table fieldset:first-child {
	margin-top: 2px !important;
}

.woocommerce nav.woo-nav-tab-wrapper {
	border-bottom: none !important;
}

.woocommerce .nav-tab {
	margin-left: 0 !important;
	border: 1px solid #d4d4d4 !important;
}

.forminp .wc_tax_rates.widefat th,
.forminp .shippingrows.widefat th,
.wc_shipping.widefat th {
	text-align: left !important;
}

.forminp .wc_tax_rates.widefat th input[type=checkbox],
.forminp .shippingrows.widefat th input[type=checkbox] {
	margin-top: -10px !important;
	display: inline-block;
}

.forminp.forminp-checkbox fieldset:first-child {
	margin-top: 6px !important;
}

.forminp .shippingrows.widefat .button,
.forminp .shippingrows.widefat .button:hover,
.wc_shipping.widefat .button,
.wc_shipping.widefat .button:hover {
	padding: 5px !important;
	line-height: 1.0 !important;
}

.wp-list-table th {
	vertical-align: top !important;
}

.wp-list-table .username strong a {
	font-size: 11px !important;
	text-transform: uppercase;
}

.wc_emails.widefat th {
	text-align: left !important;
}

/* WP Document Revisions Support */

.post-php.document .button-primary {
	background-color: #[[COLOUR-HIGHLIGHT-PRIMARY]] !important;
	color: #fff !important;
}

.post-php.document .button-primary:hover {
	background-color: #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
}

.post-php #attachment_caption,
.post-php #attachment_alt,
.post-php #attachment_content {
	border: 1px solid #d4d4d4 !important;
}

.post-php #attachment_caption:focus,
.post-php #attachment_alt:focus,
.post-php #attachment_content:focus {
	border: 1px solid #[[COLOUR-HIGHLIGHT-SECONDARY]] !important;
}

.profile-php #document_revisions_feed_key th label {
	padding-top: 20px !important;
}

/* WP Migrate DB Support */

#wpmdb-main {
	width: 100% !important;
}

#wpmdb-sidebar {
	display: none !important;
}

.mp6 .wpmdb h2.nav-tab-wrapper {
	width: 100%;
	padding: 0;
}

.mp6 .wrap h2 {
	float: none;
	clear: both;
}

.mp6 .wpmdb .help-tab h3 {
	clear: both;
	text-align: left;
}

/* WP Updates Notifier Support */

input.regular-text {
	padding: 5px !important;
	border: 1px solid #d4d4d4;
	box-sizing: border-box;
	color: #333;
	font-size: 13px;
}

/* Yoast SEO Support */

#wpseo_content_top.wpseo_content_cell {
	width: 100% !important;
}

.wpseo_content_cell #sidebar a,
.wpseo_content_cell #sidebar br + br + strong {
	display: none !important;
}

/* Responsive Stuff */

@media only screen and (max-width: 900px) {
	.auto-fold #adminmenuback,
	.auto-fold #adminmenuwrap,
	.auto-fold #adminmenu,
	.auto-fold #adminmenu li.menu-top {
		width: 50px;
	}

	.auto-fold #adminmenu a.menu-top {
		height: 55px;
	}

	.auto-fold #adminmenu .wp-submenu-head {
		height: 45px;
		line-height: 45px;
	}

	.auto-fold #adminmenu .wp-submenu.sub-open,
	.auto-fold #adminmenu .opensub .wp-submenu,
	.auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
	.auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
	.auto-fold #adminmenu a.menu-top:focus + .wp-submenu,
	.auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
	.no-js.auto-fold #adminmenu .wp-has-submenu:hover .wp-submenu {
		left: 51px;
	}

	.auto-fold #wpcontent,
	.auto-fold #wpfooter {
		margin-left: 62px;
	}
}

@media only screen and (max-width: 700px) {
	.widget-liquid-right .widget,
	.inactive-sidebar .widget,
	.widget-liquid-right .sidebar-description {
		width: 100%;
		margin: 0 auto 20px;
		overflow: hidden;
	}

	div#widgets-right {
		width: 100%;
		margin: 0 auto;
	}

	div.widget-liquid-right,
	div.widget-liquid-left {
		width: 48%;
	}

	list .widget {
		width: 100%;
	}

	div#widgets-left {
		margin-left: 5px;
		margin-right: 0;
		width: 100%;
	}

	#widget-list .widget {
		width: 100%;
		margin: 0;
	}

	#nav-menus-frame {
		margin-left: 0;
		margin-top: 23px;
	}

	#wpbody-content #menu-settings-column {
		display: inline;
		width: 100%;
		margin-left: 0;
	}

	.form-table th {
		vertical-align: top;
		text-align: left;
		padding: 0;
		width: 50%;
	}

	kbd,
	code {
		word-break: break-all;
	}

	.available-theme,
	.available-theme .screenshot,
	#current-theme img {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {

	#wpadminbar {
		height: 28px;
		min-width: 0;
		position: absolute;
		background: none;
		background-color: #282c30;
		font: [[FONT-WEIGHT-NORMAL]] 13px/28px "[[FONT-FAMILY]]", monospace !important;
		border-top: 1px solid #666;
		border-bottom: 1px solid #222;
	}

	#wpadminbar .quicklinks > ul#wp-admin-bar-root-default {
		margin: 0 0 0 5px;
	}

	#wpadminbar .quicklinks > ul > li {
		border: none;
		border-radius: 0;
		margin-right: 0;
		margin-left: 0;
		float: left;
	}

	#wpadminbar .quicklinks a,
	#wpadminbar .quicklinks .ab-empty-item,
	#wpadminbar .shortlink-input {
		height: 28px;
		display: block;
		padding: 0 5px;
	}

	#wpadminbar #wp-admin-bar-site-name,
	#wpadminbar #wp-admin-bar-wp-logo,
	#wpadminbar #wlcms_admin_logo {
		border: none;
		margin: 0 0;
		float: left;
	}

	#wpadminbar #wp-admin-bar-site-name > a {
		font: [[FONT-WEIGHT-NORMAL]] 13px "[[FONT-FAMILY]]", monospace;
		text-shadow: none;
		color: #a8a8a8;
		margin-top: 7px;
	}

	#wp-admin-bar-site-name .ab-sub-wrapper {
		display: none !important;
	}

	#wp-admin-bar-site-name.hover a,
	#wp-admin-bar-site-name:hover a {
		color: #[[COLOUR-HIGHLIGHT-PRIMARY]] !important;
		background: none !important;
	}

	#wpadminbar .ab-top-menu > li:hover > .ab-item,
	#wpadminbar .ab-top-menu > li.hover > .ab-item,
	#wpadminbar .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
		color: #fafafa;
		background: none;
		background-color: #282c30;
		border-radius: 0;
	}

	#wpadminbar .quicklinks > ul > li > a,
	#wpadminbar .quicklinks > ul > li > .ab-empty-item {
		border-right: none;
	}

	#wpadminbar .menupop .ab-sub-wrapper,
	#wpadminbar .shortlink-input {
		margin: 0 0 0 0;
	}

	#wpadminbar .ab-top-secondary {
		background: none;
		margin: 0 0 0 0;
	}

	#wpadminbar .quicklinks .ab-top-secondary > li {
		border: none;
		float: right;
	}

	#wpadminbar .quicklinks .ab-top-secondary > li > a,
	#wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item,
	#wpadminbar .ab-label {
		font: [[FONT-WEIGHT-NORMAL]] 0px "[[FONT-FAMILY]]", monospace;
		margin-left: 0;
	}

	#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
		margin-top: 5px;
		margin-right: 5px;
	}

	#wpadminbar .quicklinks .menupop ul li a,
	#wpadminbar .quicklinks .menupop ul li a strong,
	#wpadminbar .quicklinks .menupop.hover ul li a,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
		color: #[[COLOUR-HIGHLIGHT-SECONDARY]];
	}

	#wpadminbar #wp-admin-bar-site-name > a {
		padding-top: 0;
	}

	#wp-admin-bar-comments,
	#wp-admin-bar-updates {
		display: none;
	}

	#wp-admin-bar-mobile {
		display: block;
		float: left;
	}

	#adminmenuwrap,
	#wpcontent {
		padding-top: 30px;
	}

	.wrap {
		margin: 25px 15px 0 0;
	}

	.postbox {
		min-width: 0;
	}

	.tablenav .actions {
		overflow: hidden;
		padding: 0;
	}

	#publishing-action {
		width: 100%;
	}

	.alignleft.actions {
		width: 100%;
	}

	.button {
		margin: 5px 1px !important;
		line-height: 32px !important;
		height: 32px !important;
	}

	.button:hover {
		height: 32px !important;
	}

	textarea,
	input[type=text],
	input[type=password],
	input[type=file],
	input[type=email],
	input[type=number],
	input[type=search],
	input[type=tel],
	input[type=url],
	select,
	.tagsdiv .newtag {
		width: 100%;
		height: auto !important;
		padding: 5px !important;
		max-width: initial !important;
		margin: 0 !important;
	}

	p.search-box {
		width: 100%;
	}

	#createuser .form-field input,
	#display_name {
		width: 100%;
	}

	#profile-page .form-table textarea {
		width: 100%;
	}

	#pass-strength-result {
		width: 100%;
	}

	.form-table td {
		word-break: break-all;
	}

	.color-palette {
		display: none;
	}

	#sample-permalink {
		word-break: break-all;
	}

	.tablenav-pages .current-page {
		width: auto !important;
		padding: 3px !important;
	}

	.drag-drop .drag-drop-inside {
		width: 100%;
	}

	#wp-content-editor-tools {
		padding: 0;
		margin-top: 30px;
	}

	#wp-content-editor-tools #insert-media-button {
		position: relative;
		top: -10px;
	}

	.wp-media-buttons-icon {
		display: none !important;
	}

	.wp_themeSkin table.mceToolbar,
	.wp_themeSkin tr.mceFirst .mceToolbar tr td,
	.wp_themeSkin tr.mceLast .mceToolbar tr td {
		float: left;
	}

	.widefat thead th.sortable,
	.widefat thead th.sorted {
		border-top-right-radius: 0;
	}

	.widefat th.sortable,
	.widefat th.sorted {
		padding: 8px 0;
	}

	h2 .nav-tab {
		width: 100%;
		border: 1px solid #d4d4d4;
		margin-top: 10px;
		border-radius: 0;
		box-sizing: border-box;
	}

	.widefat tr th {
		display: none;
	}

	.widefat tr td {
		display: none;
	}

	.widefat tr th:first-child {
		display: table-cell;
	}

	.widefat tr th:nth-child(2) {
		display: table-cell;
	}

	.widefat tr td:nth-child(2) {
		display: table-cell;
	}

	.widefat.media tr th:nth-child(3),
	.widefat.media tr td:nth-child(3) {
		display: table-cell;
	}

	.alignleft.actions.bulkactions {
		width: 100%;
	}
}
