/* DERMATOS CUSTOMIZER STYLES */

/* Fonts */

@import "https://fonts.googleapis.com/css?family=[[FONT-FAMILY-ESCAPED]]:[[FONT-WEIGHT-NORMAL]],[[FONT-WEIGHT-BOLD]],[[FONT-WEIGHT-EXTRA-BOLD]]|Roboto+Mono:300,400,700";

/* Customizer */

* {
	box-shadow: none !important;
	box-sizing: border-box !important;
	border-radius: 0 !important;
	text-shadow: none !important;
}

.wp-customizer * {
	font-family: "[[FONT-FAMILY]]", monospace !important;
}

.wp-customizer .button {
	color: #fff !important;
	background: none;
	background-color: [[COLOUR-HIGHLIGHT-PRIMARY]] !important;
	width: auto !important;
	min-width: 80px !important;
	height: 30px !important;
	line-height: 1 !important;
	text-decoration: none;
	border: none;
}

.wp-customizer #save.button-primary {
	background-color: [[COLOUR-HIGHLIGHT-ACCENT]] !important;
	color: #fff !important;
	border: none !important;
}

.wp-customizer #save.button-primary:hover {
	background-color: [[COLOUR-HIGHLIGHT-PRIMARY]] !important;
}

.wp-customizer h3,
.wp-customizer label,
.wp-customizer label span {
	font-weight: [[FONT-WEIGHT-BOLD]] !important;
}

.wp-customizer button.dashicons,
.wp-customizer button span.dashicons {
	display: none !important;
}

.wp-customizer.modal-open .button-hero {
	padding-top: 8px;
	padding-bottom: 8px;
}

.wp-customizer #customize-footer-actions button {
	color: #444 !important;
}
