/* DERMATOS LOGIN STYLES */

/* Fonts */

@import "https://fonts.googleapis.com/css?family=[[FONT-FAMILY-ESCAPED]]:[[FONT-WEIGHT-NORMAL]],[[FONT-WEIGHT-BOLD]],[[FONT-WEIGHT-EXTRA-BOLD]]|Roboto+Mono:300,400,700";

/* Basic */

* {
	margin: 0; padding: 0;
}

html {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
	background-size: cover;
	background-position: center top; 
	background-color: #fff;
}

body {
	background: none;
	font: [[FONT-WEIGHT-NORMAL]] 13px/28px "[[FONT-FAMILY]]", monospace !important;
}

form {
	margin-top: 40px !important;
	padding: 30px !important;
	background: #f0f0f0 !important;
	border: none !important;
	box-sizing: border-box !important;
}

label {
	color: #333 !important;
	font-size: 13px !important;
}

input[type=text],
input[type=password],
.ie8 .login form .input,
.ie7 .login form .input {
	margin-top: 8px !important;
	padding: 6px !important;
	font-family: "[[FONT-FAMILY]]", monospace;
	font-size: 13px !important;
	box-shadow: none !important;
}

input[type=submit] {
	background-color: [[COLOUR-HIGHLIGHT-PRIMARY]] !important;
	color: #fff !important;
	min-width: 100px !important;
	height: 30px !important;
	line-height: 30px !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	font-size: 13px !important;
	font-weight: [[FONT-WEIGHT-BOLD]] !important;
	text-shadow: none !important;
}

input[type=submit]:hover {
	background-color: [[COLOUR-HIGHLIGHT-SECONDARY]] !important;
}

p.forgetmenot {
	margin-top: 25px !important;
}

p.submit {
	margin-top: 20px !important;
}

.login-action-register p.forgetmenot,
.login-action-register p.submit {
	margin-top: -10px !important;
}

#reg_passmail {
	display: none !important;
}

#login {
	padding: 5px !important;
	width: 400px !important;
	max-width: 85% !important;
}

#login h1 {
	margin: 40px 0 20px 0 !important;
}

#login h1 a {
	width: 100% !important;
}

#nav,
#backtoblog,
#login_error,
#login .message {
	font-family: "[[FONT-FAMILY]]", monospace !important;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
	text-align: center !important;
}

#login .message {
	color: #fff !important;
	font-size: 15px !important;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

#login .message br {
	margin: 0 !important;
}

#login .message.register {
}

#nav {
	margin: 36px auto -12px auto !important;
	color: #fff;
	text-align: center! important;
}

#nav a,
#backtoblog a {
	margin: 0;
	color: #fff !important;
	border-bottom: 1px dotted #bbb;
	font-size: 11px !important;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
	text-transform: uppercase !important;
	letter-spacing: 1px;
}

#login_error,
.message {
	margin-top: -10px !important;
	margin-bottom: -20px !important;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}

#login_error {
	color: #fff !important;
	font-size: 14px !important;
	font-weight: [[FONT-WEIGHT-NORMAL]] !important;
}

#login_error a {
	color: #fff !important;
}
