/* DERMATOS PUBLIC STYLES */

@import "https://fonts.googleapis.com/css?family=[[FONT-FAMILY-ESCAPED]]:[[FONT-WEIGHT-NORMAL]],[[FONT-WEIGHT-BOLD]],[[FONT-WEIGHT-EXTRA-BOLD]]|Roboto+Mono:300,400,700";

#wpadminbar a,
#wpadminbar a .ab-label {
	font-family: "[[FONT-FAMILY]]", monospace;
	font-weight: [[FONT-WEIGHT-NORMAL]];
}

#wpadminbar .ab-item .display-name {
}

#wpadminbar .ab-item .avatar {
	display: block;
}

#wpadminbar #wp-admin-bar-user-info .username {
	text-transform: uppercase;
}

